.footer {
  background-color: #e95a24;
  padding: 20px 0;
  text-align: center;
  font: Lora;
  color: #fff;
}

.footer * {
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.contactSection,
.hoursSection,
.mailingListSection {
  flex: 1;
  padding: 10px;
}

.contactSection {
  text-align: left;
}

.hoursSection {
  text-align: left;
}

.mailingListSection {
  text-align: left;
}

.socialIcons {
  margin-top: 10px;
}

.contactSection .socialIcons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.socialIcons a {
  display: inline-block;
}

.mailingListForm input {
  padding: 8px;
  width: 80%;
  margin-right: auto;
  margin-left: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  margin-bottom: 30px;
}

.mailingListSection h3,
p {
  margin-bottom: 30px;
}

.mailingListForm button {
  padding: 12px 12px;
  background-color: #c7b88b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
}

.socialIcons {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.socialIcons a {
  display: inline-block;
}

.socialIcons img {
  width: 25px;
  height: auto;
  transition: transform 0.3s ease;
}

.socialIcons img:hover {
  transform: scale(1.1);
}

.mailingListSection {
  border: 2px solid #c7b88b;
  padding: 20px;
  border-radius: 10px;
  height: 400px;
}