.footer {
  background-color: #e95a24;
  padding: 20px 0;
  text-align: center;
  font: Lora;
  color: #fff;
}

.footer * {
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.contactSection,
.hoursSection,
.mailingListSection {
  flex: 1;
  padding: 10px;
}

.contactSection {
  text-align: left;
}

.hoursSection {
  text-align: left;
}

.mailingListSection {
  text-align: left;
}

.socialIcons {
  margin-top: 10px;
}

.contactSection .socialIcons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.socialIcons a {
  display: inline-block;
}

.mailingListForm input {
  padding: 8px;
  width: 80%;
  margin-right: auto;
  /* Aligns to the right */
  margin-left: 0;
  /* Resets any right margin */
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  /* Ensures the input takes a full line */
  margin-bottom: 30px;
  /* Adds some space between the input and button */
}

.mailingListSection h3, p {
  margin-bottom: 30px;
}

.mailingListForm button {
  padding: 12px 12px;
  background-color: #c7b88b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
}

.socialIcons {
  display: flex;
  gap: 15px;
  /* Adds space between each icon */
  margin: 20px 0;
  /* Optional, adds margin to top and bottom */
}

.socialIcons a {
  display: inline-block;
  /* Ensures the anchor tags are inline-block */
}

.socialIcons img {
  width: 25px;
  /* Small size for the icons */
  height: auto;
  /* Maintains aspect ratio */
  transition: transform 0.3s ease;
  /* Smooth transition for hover effect */
}

.socialIcons img:hover {
  transform: scale(1.1);
  /* Slightly enlarge the icons when hovered */
}
.mailingListSection {
  border: 2px solid #c7b88b; /* Adds a solid border around the section */
  padding: 20px; /* Adds space inside the border */
  border-radius: 10px; /* Optionally rounds the corners of the border */
  height: 400px;
}
