.menuContainer {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin-left: 50px;
  margin-right: 50px;
}

.styledLine {
  border: 1px solid #e95a24;
  margin: 20px 0;
}

.section2,
.section3,
.section4,
.section5 {
  margin: 20px 50px;
}

.sectionText {
  font-size: 16px;
  color: #333;
  text-align: center;
}

.galleryTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.galleryText {
  font-size: 18px;
  color: #666;
}

.galleryImages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.galleryImages9 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.cakeImage {
  width: 30%;
  height: 300px;
  object-fit: cover;
}

.bakedImage {
  width: 30%;
  height: auto;
  border-radius: 8px;
}

.qContainer {
  display: flex;
  align-items: center;
}

.qImage {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.sectionText {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
  text-align: left;
}

.sectionText1 {
  font-size: 20px;
  color: #000;
  margin: 10px 0;
  font-weight: bold;
}

.sectionText2 {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #e95a24;
}

a:hover {
  text-decoration: underline;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.socialIcons a {
  display: inline-block;
}

.socialIcons img {
  width: 25px;
  height: auto;
  transition: transform 0.3s ease;
  filter: invert(19%) sepia(92%) saturate(350%) hue-rotate(10deg);
}

.socialIcons img:hover {
  transform: scale(1.1);
}