/* Section 1*/
.section1 {
  padding: 20px;
}

.menuNav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.menuNav button {
  background-color: #fff;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  color: #e95a24;
  transition: background-color 0.3s, color 0.3s;
}

.menuNav .active {
  font-weight: bold;
  text-decoration: underline;
}

.menuContent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

/* Section 2 */
.section2 {
  text-align: center;
  margin: 40px 0;
  padding: 20px;
  background-color: #f8f8f8;
}

.section2 p {
  font-size: 18px;
}

.styled-line {
  border: 1px solid #ccc;
  margin: 40px 0;
}

/* Section 3 and Section 4: Gallery of cakes and baked goods */
.section3,
.section4 {
  padding: 20px;
  background-color: #f8f8f8;
}

.section3 h3,
.section4 h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.section3 p,
.section4 p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.section3 img,
.section4 img {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.section3 img:hover,
.section4 img:hover {
  transform: scale(1.05);
}

/* Section 5 */
.section5 {
  padding: 20px;
  background-color: #f8f8f8;
  text-align: center;
}

.section5 img {
  max-width: 150px;
  margin-bottom: 20px;
}

.section5 p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* For larger screens: */
@media (min-width: 768px) {

  .menuContent {
    justify-content: flex-start;
  }

  .section3 img,
  .section4 img {
    max-width: 250px;
  }
}

.styled-line {
  border: 1px solid #e95a24;
  margin: 40px 0;
}