.container {
    margin: 40px 150px;
}
.h2 {
    text-align: left;
    color: #7a7a7a;
}
.styledLine {
    border: 1px solid #e95a24;
    margin: 20px 150px;
  }
  .qContainer {
    display: flex;
    align-items: center; 
  }
  
  .qImage {
    width: 100px; 
    height: auto;
    margin-right: 20px; 
  }
  
  .sectionText, .p {
    font-size: 16px;
    color: #767575;
    margin: 10px 0;
    text-align: left;
  }
  
  .sectionText1 {
    font-size: 20px;
    color: #7a7979;
    margin: 10px 0;
    font-weight: bold;
  }
  .section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 5rem;
  }
  
  .col1,
  .col2,
  .col3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .serviceImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .colText {
    text-align: left;
  }
  
  @media (max-width: 992px) {
    .section1 {
      flex-direction: column;
    }
  }
    